html {
	font-size:62.5%;
}


body{
	top:0;
	left:0;
	padding:0;
	margin:0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow:hidden;

}

.full {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
	background: silver;
	display:flex;
	flex-direction:column;
  }
.navbar {
    width: 100vw;
	height: 10vh;

    display: flex;
    background: rgba(55, 55, 55, 1);
    position: absolute;
    justify-content: space-around;
  }



.page{
	width:80vw;
	min-height:90vh;
	height:auto;
	display:none;
	justify-content: space-around;
	z-index: 10;
	
} 

